MtgoBot/Service References/BotServices/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfMagicBotService" />
  <xs:element name="GetServiceVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetServiceVersionResult" nillable="true" type="q1:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendLoggingEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfMagicBotService" minOccurs="0" name="loggingEvent" nillable="true" type="q2:LoggingEventContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendLoggingEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfMagicBotService" minOccurs="0" name="loggingEvents" nillable="true" type="q3:ArrayOfLoggingEventContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>