MtgoBot/Service References/BotServices/WcfMagicBotService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfMagicBotService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfMagicBotService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoggingEventContainer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoggerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThreadName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoggingEventContainer" nillable="true" type="tns:LoggingEventContainer" />
  <xs:complexType name="ArrayOfLoggingEventContainer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoggingEventContainer" nillable="true" type="tns:LoggingEventContainer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoggingEventContainer" nillable="true" type="tns:ArrayOfLoggingEventContainer" />
</xs:schema>